
/*--------------------------------------------------Competenze*/

.containerLesson{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(Images/backgroundLessons.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    
}
    
.lesson-card-uno{
    margin-top: 200px;
}

.lesson-card{
    width: 25%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.729);
    margin-top: 20vh;
    padding: 60px;
    margin-bottom: 70px;
}

.lesson-card h2{
    color: bisque;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 800;
}

.lesson-card h3{
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
}

.lesson-card img{
    display: block;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
}
.lesson-card ul li{
    color: white;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 3px;
    color: bisque;
}




.abilita{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color:  rgb(21  , 23 , 35);
    padding: 25px 0;
}

.abilita h2{
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
}

.settore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.settore-testo{
    width: 400px;
}

.settore p{
    color: white;
    font-size: 20px;
}

.barra{
    border: 3px solid white;
    
    width: 500px;
}

.barraEffettiva-Piano{
    background-color: white;
    width: 84%;
}
.barraEffettiva-Pianojazz{
    background-color: white;
    width: 67%;
}
.barraEffettiva-composizione{
    background-color: white;
    width: 70%;
}
.barraEffettiva-ableton{
    background-color: white;
    width: 85%;
}
.barraEffettiva-orchestra{
    background-color: white;
    width: 77%;
}
.barraEffettiva-lofi{
    background-color: white;
    width: 65%;
}
.barraEffettiva-mixing{
    background-color: white;
    width: 75%;
}


@media screen and (max-width: 900px) {

    .lesson-card{
        width: 100%;
        margin: 0px;
    
    }
    
    .lesson-card img{
    width: 80%;
    
    }
    
    .settore .barra{ width: 400px;}
    
}    
       /* 1200------------------------------------------------------------------------------------- */
   @media screen and (max-width: 1200px) {
    .containerLesson{
        flex-direction: column;

    }
    .lesson-card{
        margin: auto;
        margin-top: 25px;
        margin-bottom:25px ;
        background-color: aqua;
    
    }
    .lesson-card img{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .settore{
    flex-direction: column;
    }
    
    .settore-testo{width: 100%;}
    .settore p{
    margin-bottom: 5px;
    text-align: left;
    }

    

}


       /* 1500------------------------------------------------------------------------------------- */
       @media screen and (max-width: 1500px) {

        .lesson-card{
            width: 30%;
        }

        .containerLesson{

            gap: 20px;
            
        }
    }
    