
/*------------------LANDING PAGE---------------------------------*/

.main{
    width: 100%;
    height: 100vh;
    background-image: url(Images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    overflow-x: hidden;

}

/* page */
.main .page{
    color: #fff;
    position: absolute;
    top: 18%;


}
.main .page p{
    font-size: 40px ;
    font-weight: 800;
}

.main .page .titoloprimo{
    font-size: 170px;
    line-height: 170px;
    
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url(Images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    
}


.main .page .titolosecondo{
    font-size: 100px;
    line-height: 170px;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}



.main .page h3{
    font-size: 20px ;
    font-weight: 600;
    margin-top: 20px;
}

.main .page h3 a{
    text-decoration: none;
    color: #fff;
}


/* --------------------------------- social icon ---------------------------------------------------*/
.main .social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}
.main .social-icons img{
    display: block;
    width: 55px;
    margin: 38px 5px;
}





/*--------------------------------------------------------------------chisono----------------------------------------------------------*/

.chisono{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20%;

    background-image:  url(Images/AboutMe.jpg);
    background-size: cover;
    background-position: center;
}



.chisono h2{
    font-size: 60px;
    font-weight: 800;
    line-height: 100px;
    color: #fff;
    margin-bottom: 45px;
}



.chisono p{

    color: rgb(177, 177, 177);
    font-size: 18px;
    font-weight: 100;
 
    margin-bottom: 25px;
    line-height: 26px;
    text-align: center;
}

.chisono a{
    text-decoration: none;
    background-color: white;
    padding: 18px 48px;
    color: rgb(21, 23, 35);
    font-size: 20px;
    font-weight: 400;
    border-radius: 35px;
    border: 3px solid white;
}
.chisono a:hover{
    background-color: rgb(21, 23, 35);;
    color: white;
}





/*------------------------------------------------------------ playlist------------------------------------ */

.playlist{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(Images/playstic.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px 0 80px;
}
.playlist h2{
    font-size: 60px;
    color: rgb(255, 255, 255);  
    text-align: center;  
    padding: 30px 0;
    margin-bottom: 20px;
}

.VerticalCenter{
    display: flex;
    align-items: stretch;
    justify-content: center;
}





.playlist .produzione{
    flex-basis: 28%;
    border-radius: 25px;
    padding:20px;
    margin: 0 17px;
    position: relative;
}

.produzione1{
    background-color: #EE7674;
}
.produzione2{
    background-color: #9DBF9E;
}
.produzione3{
    background-color: #7DBBC3;
}


.produzione h2{
    color: rgb(255, 255, 255);
    font-size: 26px;
    text-align: center;
    padding: 15px;
}

.produzione p{
    color: rgb(231, 231, 231);
    margin-bottom: 55px;
}


.produzione iframe{
    width: 100%;
     height: 300px;
}


.playlist-youtube-button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);

    background-color: white;
    padding: 25px;
    border-radius: 50%;
}




/* --------------------------------------------------------Conoscenze---------------------------- */
.conoscenze{
    width: 100%;
    padding: 40px;
}

.conoscenze h2{
    font-size: 60px;
    
    text-align: center;
    color: rgb(21  , 23 , 35);
}
.conoscenze h3{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: #202020;
    position: relative;
    margin-bottom: 70px;
}
.conoscenze h3::after{
    position: absolute;
    bottom: -50px;
    content: '';
    height: 3px;
    width: 40%;
    background-color: rgb(21  , 23 , 35);
    left: 50%;
    transform: translateX(-50%);
}

/*--------------------------------------------------------------------------------carta laterale*/
.carta-laterale{
    height: 600px;
    position: relative;
    margin-bottom: 100px;

}

.carta-laterale::after{
    position: absolute;
    bottom: -50px;
    content: '';
    height: 3px;
    width: 75%;
    background-color:  rgb(21  , 23 , 35);
    left: 50%;
    transform: translateX(-50%);
}

.carta-laterale h2{
    font-size: 40px;
    font-weight: 300;
    color: burlywood;
    margin-bottom: 20px;

}
.carta-laterale h3{
    font-size: 25px;
    font-weight: 100;
    color: #fff;
}

.carta-laterale a{
    background-color: burlywood;
    color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    display: inline;
    text-decoration: none;
    width: 300px;
    text-align: center;
    

}
.carta-laterale a:hover{
    color: burlywood;
    background-color: #fff;
}

.carta-laterale audio{
    margin: 20px 0;
    width: 400px;
}

/* Pianoforte */
.carta-laterale .Pianoforte{
    position: absolute;
    height: 100%;
    width: 80%;
    left: 20%;

    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(Images/piano.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    
}

/* produzione */
.carta-laterale .ProduzioneMusicale{
    position: absolute;
    height: 100%;
    width: 80%;
    right: 20%;

    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(Images/production.jpg);
    background-position: center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    
}

/* Pianoforte */
.carta-laterale .Mixing{
    position: absolute;
    height: 100%;
    width: 80%;
    left: 20%;
    
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(Images/Mix.jpg);
    background-position: center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    
}







   /* 600---------------------------------
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
   +- ------------------------------------------------------------------- */
 


    /* 1300------------------------------------------------------------------------------------- */
    @media screen and (max-width: 1300px) {
        .VerticalCenter{
            flex-direction: column;
            margin: 0 50px;
        }
    
        .playlist .produzione{
            margin-bottom: 100px;
        }
    

     }
    
    

/* 1200-------------------------------- */
    
@media screen and (max-width: 1200px) {
    .chisono{
     padding: 0px 15%;
     background-image: url(Images/AboutMeTablet.jpg);
 
    }



 
    .carta-laterale{
     height: 400px;
    }


}



   /* 900---------------------------------------------------------------------------------------------------
   */
@media screen and (max-width: 900px) {
    .main{
        background-image: url(Images/backgroundSmartphone.jpg);
        padding: 0%;
    }
    
    .page{
        width: 100%;
    }
    
    .main .page .titoloprimo{
        font-size: 110px;
        line-height: 110px;
        text-align: center;
    }
    
    .main .page .titolosecondo{
        font-size: 75px;
        line-height: 110px;
        text-align: center;
    
    
    }
    
    .main .page h3{
        font-size: 20px;
        padding: 12px 20px;
        margin-left: 0px;
        text-align: center;
    
    
    }
    
    .chisono{
        padding: 0px 7%;
    
       }
    
    .chisono h2{
        font-size: 45px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .chisono p{
        font-size: 16px;
    }
    .produzione iframe{
        width: 100%;
            height: 250px;
    }
    
        .carta-laterale .Pianoforte{
        left: 50%;
        transform: translate(-50%);
        padding: 0 50px;
        width: 100%;
    }
    .carta-laterale .ProduzioneMusicale{
        
        left: 50%;
        transform: translate(-50%);
        padding: 0 50px;
        width: 100%;
    
        }
        .carta-laterale .Mixing{
        left: 50%;
        transform: translate(-50%);  
        padding: 0 50px; 
        width: 100%;
    
        }
    
        .carta-laterale h2{
        text-align: center;
    
        }
        .carta-laterale h3{
        font-size: 22px;
        text-align: center;
        }
    
        .carta-laterale audio{
        width: 100%;
        }
    
        .carta-laterale a{
        width: 100%;
        }
    
    
        .main .social-icons img{
    
        width: 30px;
    
        }
    
        
}




@media screen and (max-width: 600px) {
    .main .page .titoloprimo{
        font-size: 85px!important;
    }

    .main .page .titolosecondo{
        font-size: 55px!important;
        line-height: 70px!important;
    }


    .main .page h3{
        font-size: 16px!important;
        padding: 0px!important;
    }

    .VerticalCenter{
        margin: 0px;
    }


    .produzione iframe{
            height: 170px;
    }

}