
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', cursive;

}

.myFade {
    animation-name: Fade;
    animation-duration: 1.5s;
  }
  @keyframes Fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
/* -------------------navbar---------------------------------- */
.topnav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;    
}
.topnav a {    
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 24px;
    padding: 37px;
}
  
.topnav a:not(.icon)::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    transition: width 0.7s;
}
.topnav a:hover::after{
    width: 70%;
}
.active{
    background-color: black;
}
.active:hover{
    background-color: #EE7674;
    color: white;
}
.topnav .icon {
    display: none;
}  

.bandiera{
    border-radius: 50%;
    border: 3px solid white;
    
    
}
.btn-bandiera{
    background-color: rgb(21  , 23 , 35);
    cursor: pointer;
    
    margin:10px 6px;
    background-color: #ee767400;
    border: 0px;

}


@media screen and (max-width: 900px) {
    .topnav a{display: none;}
    .topnav a.icon {
      display: block;
    }
    .topnav.responsive { flex-direction: column; background-color: #202020; z-index: 60;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      display: block;
      text-align: left;
      padding-top: 45px;
    }
    .topnav.responsive a.active{background-color: transparent;}

}
/*--------------------------------------------------footer generale*/
footer{    
    background-color: rgb(21  , 23 , 35);
    padding: 40px 20%;
}
footer p{
    font-size: 20px;
    color: white;
    margin-bottom: 5px;    
}
footer cite{
    font-size: 14px;
    color: white;
    margin-bottom: 5px;
}
.containerdeisocial{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.containerdeisocial img{
  width:"50px";
}
/* 900---------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 900px) {
    footer p{
        font-size: 16px;
    }
    footer cite{
        font-size: 12px;
    }
}
