*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


/*------------------LANDING PAGE---------------------------------*/

.main{
    width: 100%;
    height: 100vh;
    background-image: url(Images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;


    overflow-x: hidden;

}

/* -------------------navbar---------------------------------- */

nav{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    position: absolute;
    top:0;
    left: 0;
    
}

nav ul{



    flex:1;
    text-align: right;
    padding-right: 30px;
}

nav ul li{
    padding: 30px 30px;

    display: inline-block;
    list-style: none;


}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 24px;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    transition: width 0.7s;
}

nav ul li a:hover::after{
    width: 70%;
}

.menu-contact{
    background-color: #EE7674;
}
.menu-contact:hover{
    background-color: black;
    color: #ee7674;
}

/* page */
.main .page{
    color: #fff;
    position: absolute;
    top: 18%;


}
.main .page p{
    font-size: 40px ;
    font-weight: 800;
}

.main .page .titoloprimo{
    font-size: 170px;
    line-height: 170px;
    
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url(Images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.main .page .titolosecondo{
    font-size: 100px;
    line-height: 170px;

}


.main .page h3{
    font-size: 20px ;
    font-weight: 600;
    margin-top: 20px;
}

.main .page h3 span{
    border-radius: 20px;
    padding: 15px 35px;
    margin-left: 10px;

    cursor: pointer;
}

.main .page h3 a{
    text-decoration: none;
    color: #fff;
}

.span1{
    animation: buttonanimazione1 3s linear infinite;
    
}

.span2{
    animation: buttonanimazione2 3s linear infinite;    
    animation-delay: 1s;
}

.span3{
    animation: buttonanimazione3 3s linear infinite;
    animation-delay: 2s;
}

@keyframes buttonanimazione1{
    0%{
        background-color: rgb(248,169,105 , 0);
    }
    8%{
        background-color: rgb(248,169,105 , 1);
    }
    25%{
        background-color: rgb(248,169,105 , 1);
    }
    33%{
        background-color: rgb(248,169,105 , 0);
    }
    100%{
        background-color: rgb(248,169,105 , 0);
    }
}
@keyframes buttonanimazione2{
    0%{
        background-color: rgb(240,123,141, 0);
    }
    8%{
        background-color: rgb(240,123,141 , 1);
    }
    25%{
        background-color: rgb(240,123,141 , 1);
    }
    33%{
        background-color: rgb(240,123,141 , 0);
    }
    100%{
        background-color: rgb(240,123,141 , 0);
    }
}
@keyframes buttonanimazione3{
    0%{
        background-color: rgb(172,123,163 , 0);
    }
    8%{
        background-color: rgb(172,123,163 , 1);
    }
    25%{
        background-color: rgb(172,123,163 , 1);
    }
    33%{
        background-color: rgb(172,123,163 , 0);
    }
    100%{
        background-color: rgb(172,123,163, 0);
    }
}




/* --------------------------------- social icon ---------------------------------------------------*/
.main .social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}
.main .social-icons img{
    display: block;
    width: 55px;
    margin: 38px 5px;
}





/*--------------------------------------------------------------------chisono----------------------------------------------------------*/

.chisono{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20%;

    background-image:  url(Images/AboutMe.jpg);
    background-size: cover;
    background-position: center;
}



.chisono h2{
    font-size: 60px;
    font-weight: 800;
    line-height: 100px;
    color: #fff;
    margin-bottom: 45px;
}



.chisono p{

    color: rgb(177, 177, 177);
    font-size: 18px;
    font-weight: 100;
 
    margin-bottom: 25px;
    line-height: 26px;
    text-align: center;
}

.chisono a{
    text-decoration: none;
    background-color: white;
    padding: 18px 48px;
    color: rgb(21, 23, 35);
    font-size: 20px;
    font-weight: 400;
    border-radius: 35px;
    border: 3px solid white;
}
.chisono a:hover{
    background-color: rgb(21, 23, 35);;
    color: white;
}





/*------------------------------------------------------------ playlist------------------------------------ */

.playlist{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(Images/playstic.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px 0 80px;
}
.playlist h2{
    font-size: 60px;
    color: rgb(255, 255, 255);  
    text-align: center;  
    padding: 30px 0;
    margin-bottom: 20px;
}

.VerticalCenter{
    height: 80%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}





.playlist .produzione{
    flex-basis: 28%;
    border-radius: 25px;
    padding:20px;
    margin: 0 17px;
    position: relative;
}

.produzione1{
    background-color: #EE7674;
}
.produzione2{
    background-color: #9DBF9E;
}
.produzione3{
    background-color: #7DBBC3;
}


.produzione h2{
    color: rgb(255, 255, 255);
    font-size: 26px;
    text-align: center;
    padding: 15px;
}

.produzione p{
    color: rgb(231, 231, 231);
    margin-bottom: 55px;
}


.produzione iframe{
    width: 100%;
     height: 300px;
}


.playlist-youtube-button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);

    background-color: white;
    padding: 25px;
    border-radius: 50%;
}




/* --------------------------------------------------------Conoscenze---------------------------- */
.conoscenze{
    width: 100%;
    padding: 40px;
}

.conoscenze h2{
    font-size: 60px;
    
    text-align: center;
    color: rgb(21  , 23 , 35);
}
.conoscenze h3{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: #202020;
    position: relative;
    margin-bottom: 70px;
}
.conoscenze h3::after{
    position: absolute;
    bottom: -50px;
    content: '';
    height: 3px;
    width: 40%;
    background-color: rgb(21  , 23 , 35);
    left: 50%;
    transform: translateX(-50%);
}

/*--------------------------------------------------------------------------------carta laterale*/
.carta-laterale{
    height: 600px;
    position: relative;
    margin-bottom: 100px;

}

.carta-laterale::after{
    position: absolute;
    bottom: -50px;
    content: '';
    height: 3px;
    width: 75%;
    background-color:  rgb(21  , 23 , 35);
    left: 50%;
    transform: translateX(-50%);
}

.carta-laterale h2{
    font-size: 40px;
    font-weight: 300;
    color: burlywood;
    margin-bottom: 20px;

}
.carta-laterale h3{
    font-size: 25px;
    font-weight: 100;
    color: #fff;
}

.carta-laterale a{
    background-color: burlywood;
    color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    display: inline;
    text-decoration: none;
    width: 300px;
    text-align: center;
    

}
.carta-laterale a:hover{
    color: burlywood;
    background-color: #fff;
}

.carta-laterale audio{
    margin: 20px 0;
    width: 400px;
}

/* Pianoforte */
.carta-laterale .Pianoforte{
    position: absolute;
    height: 100%;
    width: 80%;
    left: 20%;

    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(Images/piano.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    
}

/* produzione */
.carta-laterale .Produzione{
    position: absolute;
    height: 100%;
    width: 80%;
    right: 20%;

    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(Images/production.jpg);
    background-position: center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    
}

/* Pianoforte */
.carta-laterale .Mixing{
    position: absolute;
    height: 100%;
    width: 80%;
    left: 20%;
    
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(Images/Mix.jpg);
    background-position: center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    
}







/*--------------------------------------------------contact page

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.containerContact{
    height: 100vh;
    width: 100%;
    background-color:  rgb(21  , 23 , 35);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
    background-size: cover;
    background-position: center;
    
}


.containercontactdata{
    background-color:  white;
    position: relative;

    padding: 120px 50px;
    border-radius: 50px;
    width: 500px;

    
}

.contact-profile{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    
}


.quadrato3{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    background-color: #d8ab4a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.quadrato3:hover{
    background-color: white;
    border: 8px solid #d8ab4a;
}

.quadrato3:hover a{
    color: #d8ab4a;
}



.containercontactdata a{
    text-decoration: none;
    color:  white;
    font-weight: 700;
    cursor: pointer;
    font-size: 25px;
}

.containercontactdata h1{
    margin-bottom: 15px;
}
.containercontactdata h3{
    margin-bottom: 30px;
}

.containercontactdata p{
    margin-bottom: 40px;
}
.containerdeisocial{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
 
}

.containerdeisocial img{
    width:"50px";
}  

/*--------------------------------------------------Competenze

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.containerLesson{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(Images/backgroundLessons.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: stretch;
   
    
    justify-content: center;
    gap: 40px;
    
}

.lesson-card{
    width: 25%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.729);
    margin-top: 20vh;
    padding: 60px;
    margin-bottom: 100px;
}

.lesson-card h2{
    color: bisque;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 800;
}

.lesson-card h3{
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
}

.lesson-card img{
    display: block;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
}
.lesson-card ul li{
    color: white;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 3px;
    color: bisque;
}




.abilita{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color:  rgb(21  , 23 , 35);
    padding: 25px 0;
}

.abilita h2{
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
}

.settore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.settore-testo{
    width: 400px;
}

.settore p{
    color: white;
    font-size: 20px;
}

.barra{
    border: 3px solid white;
    
    width: 500px;
}

.barraEffettiva-Piano{
    background-color: white;
    width: 84%;
}
.barraEffettiva-Pianojazz{
    background-color: white;
    width: 67%;
}
.barraEffettiva-composizione{
    background-color: white;
    width: 70%;
}
.barraEffettiva-ableton{
    background-color: white;
    width: 85%;
}
.barraEffettiva-orchestra{
    background-color: white;
    width: 77%;
}
.barraEffettiva-lofi{
    background-color: white;
    width: 65%;
}
.barraEffettiva-mixing{
    background-color: white;
    width: 75%;
}
/*--------------------------------------------------footer generale

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
footer{
    
    background-color: rgb(21  , 23 , 35);
    padding: 40px 20%;
}

footer p{
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
    
}

footer cite{
    font-size: 14px;
    color: white;
    margin-bottom: 5px;
}



/*--------------------------------------------------Progetti

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.ContainerSchermata{
    padding-top: 200px;

    background-color:  rgb(40, 90, 71);
}

.ContainerSchermata h1{
    font-size: 60px;
    color: white;
    font-weight: 800;
    text-align: center;
    margin-bottom: 80px;
}

.containerprogetti{
    display: flex;
    justify-content: center;
    gap: 70px;
    background-color: #fff;
    background-color:  rgb(21  , 23 , 35);
    position:relative; /*non so se funziona*/
}


.white-color-profile{
    background-color: #fff;
    
}

.containerprogetti-child{
flex-basis: 20%;

position: relative;
padding: 100px 40px;
border-radius: 60px;
margin-top:150px;
}

.containerprogetti-child iframe{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.containerprogetti-child audio{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.containerprogetti-child h3{
    font-size: 30px;
    text-align: center;
    color: white;
}
.containerprogetti-child p{
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.album-profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}

.progetti-containerdeisocial{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: absolute;
 bottom: 10px;
 left: 50%;
 transform: translate(-50%,-50%);

}

.progetti-containerdeisocial img{
    width:"50px";
}  




/*--------------------------------------------------Biografia Page

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.bio-schermata{
    padding: 200px;
    position: relative;
    background-color: #EE7674;


    
}
.bio-schermata h1{
    text-align: center;
    font-size: 80px;
    color: #fff;
    margin-bottom: 30px;
}
.bio-schermata h2{
    text-align: center;
    font-size: 30px;
    color: #fff;

}

.bio-schermata img{
    width: 300px;
    height: 300px;
    border-radius:50% ;
    border: 8px solid #fff;
   
    
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 50%);
    left: 50%;
    z-index: 5;
}



















/*--------------------------------------------------contact page
------------
|          | 
|          |
|          |
|          |
|          |
|     o    |
------------
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

@media screen and (max-width: 1200px) {
   .chisono{
    padding: 0px 10%;
    background-image: url(Images/chisonoTablet.jpg);

   }

   nav{

       background-image: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0));
   }


   .playlist .button{
    flex-direction: column;
   }
   .playlist .button .produzione{
    width: 80%;
   }

   .carta-laterale{
    height: 400px;
   }



   .child1,.child2,.child3{
    border-radius: 90px;
   }
   .containerProjects{
    flex-direction: column;
    }
}



  @media screen and (max-width: 740px) {
    .chisono{
     background-image: url(Images/chisonoSmartphone.jpg);
 
    }
 
   }
   @media screen and (max-width: 900px) {
    .main{
        background-image: url(Images/backgroundSmartphone.jpg);
    }

    .main .page p{font-size: 30px;}
    .main .page h1{font-size: 100px;}
    .main .page h2{font-size: 80px;}
    .main .page h4{font-size: 20px;}

    nav{
        justify-items: center;
    }
    nav ul{

        padding-right: 15px;
    }
    
    
    
    nav ul li{

        margin: 10px 15px;
    
    
    }

    .chisono h1{
        font-size: 45px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    

    .chisono p{
        font-size: 16px;

    }

    .playlist .button{

        width: 100%;

        
    }
    

    .produzione iframe{
        width: 100%;
         height: 150px;
    }
 
    .carta-laterale .Pianoforte{
        left: 50%;
        transform: translate(-50%);
        padding: 0 50px;
        width: 100%;
    }
    .carta-laterale .Produzione{
       
        left: 50%;
        transform: translate(-50%);
        padding: 0 50px;
        width: 100%;

      }
    .carta-laterale .Mixing{
        left: 50%;
        transform: translate(-50%);  
        padding: 0 50px; 
        width: 100%;

     }

     .carta-laterale h1{
        text-align: center;

     }
     .carta-laterale h3{
        font-size: 22px;
        text-align: center;
     }

     .carta-laterale audio{
        width: 100%;
     }

     .carta-laterale a{
        width: 100%;
     }

     nav{padding: 10px; flex-direction: column; }
     nav ul li a {
        
        font-size: 18px;
    }

    .containerContact{background-image: url(Images/chisonoSmartphone.jpg);}
    .containercontactdata{
        padding-left: 35px;
        padding-right: 35px;

    }

    footer p{
        font-size: 16px;
    }
    footer cite{
        font-size: 12px;
    }

    .main .social-icons img{
     
        width: 30px;

    }

    .containercontactdata{
        background-color:  white;
    
        display: flex;
        
        flex-direction: column;
        padding: 30pxpx 800px;
        border-radius: 50px;
        margin-left: 25px;
        margin-right: 25px;
        overflow-x: hidden;

    }
    .containercontactdata {
      
        padding: 30pxpx 80px;
        border-radius: 50px;
        margin-left: 25px;
        margin-right: 25px;
        overflow-x: hidden;

    }


    .containercontactdata h2{
        margin-bottom: 18px;
        font-size: 20px;
    }
    
    
.main .page .button a{
   
    padding: 7px 14px;
    margin:10px 20px 0px 0px;
    border: 1px solid white;

    font-weight: 500;

font-size: 16px;
}


.containerdeisocial img{
    width: 30px;
}  


.ContainerSchermata{
    padding-top: 100px;
}
    

.ContainerSchermata h1{
    font-size: 40px;

}

.containerProjects iframe{
    height: 140px;
}

   }


   @media screen and (max-width: 1500px) {
    .containerProjects{
        flex-direction: column;
    
        
    }

    .containerProjectsChild{
        width: 100%;
        margin: auto;
        
    }

    .child1, .child2,.child3{
        border-radius: 0px;
        margin-bottom: 70px;
    }     
    .child1{
        margin-top: 50px;
    }




}





@media screen and (max-width: 1600px) {
    .containerLesson{
        flex-direction: column;
        height: auto;
    }

    .lesson-card{
        width: 65%;
        margin: auto;
        margin-top: 25px;
        margin-bottom:25px ;

    }

    .lesson-card img{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .lesson-card-uno{
        margin-top: 20vh;
    }

}


