<nav>
      <div class="topnav" id="myTopnav">
        <div>
          <button  id="it" class="btn-bandiera">
            <img src="Images/bandiera-italia.jpg" alt="bandiera italiana" width="40px" height="40px" class="bandiera" />
          </button>
          <button  id="en" class="btn-bandiera">
            <img src="Images/bandiera-uk.jpg" alt="bandiera inglese" width="40px" height="40px" class="bandiera" />
          </button>
          <button  id="es" class="btn-bandiera">
            <img src="Images/bandiera-spagna.jpg" alt="bandiera spagnola" width="40px" height="40px" class="bandiera" />
          </button>
          <button  id="fr" class="btn-bandiera">
            <img src="Images/bandiera-francia.jpg" alt="bandiera francese" width="40px" height="40px"
              class="bandiera" />
          </button>
        </div>

        <a href="./">Home</a>
        <a href="./Biografia" data-translate="nav-bio"></a>
        <a href="./Competenze">Skills</a>
        <a href="./Contact" class="active" data-translate="nav-contact">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <img src="Images/menu.png" alt="menu" width="30px" />
        </a>
      </div>
</nav>