<nav class="shadow-md fixed top-0 left-0 right-0 z-50 bg-white">
  <div class="hidden lg:flex justify-end items-center">
    <button class="rounded-full border-2 border-gray-200 hover:border-gray-400 transition mr-4 cursor-pointer">
      <img src="/Images/Flags/bandiera-italia.jpg" alt="Italiano" class="w-10 h-10 rounded-full" />
    </button>
    <button class="rounded-full border-2 border-gray-200 hover:border-gray-400 transition mr-4 cursor-pointer">
      <img src="/Images/Flags/bandiera-uk.jpg" alt="Inglese" class="w-10 h-10 rounded-full" />
    </button>

    <a href="./" class="text-[rgb(21,23,35)] hover:text-gray-600 font-medium text-xl p-6 transition">Home</a>
    <a href="./biografia.html" class="text-[rgb(21,23,35)] hover:text-gray-600 font-medium text-xl p-6 transition">Biografia</a>
    <a href="./lezioni.html" class="text-[rgb(21,23,35)] hover:text-gray-600 font-medium text-xl p-6 transition">Lezioni</a>
    <a href="./album.html" class="text-[rgb(21,23,35)] hover:text-gray-600 font-medium text-xl p-6 transition">Produzioni</a>
    <a href="./software.html" class="text-[rgb(21,23,35)] hover:text-gray-600 font-medium text-xl p-6 transition">Software</a>
    <a class="text-[rgb(21,23,35)] hover:text-gray-600 font-medium text-xl p-6 pr-10 transition cursor-pointer" id="openModal">Contact</a>
  </div>

  <!-- Bottone menu mobile -->
  <div class="flex justify-end lg:hidden">
    <button class="p-4 hover:bg-gray-100 cursor-pointer ">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-[rgb(21,23,35)]" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </div>
</nav>